<div style="width:auto;">
  <mat-card style="margin:10px;">
    <mat-card-header>
    <button mat-mini-fab (click)="add(movieTitle.value, movieImage.value, movieGenres.value, movieYear.value, movieSinopsis.value); movieTitle.value=''" class="ml-auto" aria-label="icon-button edit"><mat-icon>save</mat-icon></button>
      <mat-card-title>Añadir Pelicula</mat-card-title>
      <mat-card-subtitle>Detalles</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Titulo</mat-label>
            <input matInput #movieTitle/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>URL Portada</mat-label>
            <input matInput #movieImage/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Genero</mat-label>
            <input matInput #movieGenres/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Año</mat-label>
            <input matInput #movieYear/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Sinopsis</mat-label>
            <textarea matInput #movieSinopsis></textarea>
          </mat-form-field>  
    </mat-card-content>
  </mat-card>  
  <button (click)="goBack()" mat-button color="accent" class="float-right mr-2">Cancelar</button>
</div>