<div style="margin-top: 20px; line-height: 20px;">
    <p style="margin:  0px;font-size: 13px;line-height: 20px;" class="text-justify">
        <b>Tour of movies</b> ha desarrollado esta política para informarle de qué es una cookie, cuales usamos en esta web y
        ayudarle a poder gestionarlas según sea de su interés.
        <br><br>
        Con su registro a nuestra web está siendo informado de la existencia de cookies y de la presente política de
        cookies. En futuras visitas puede consultar nuestra política en cualquier momento en la parte inferior de la web
        "Política de Cookies". Con su registro <b>está consintiendo la instalación de las cookies</b> informadas (salvo
        que haya modificado la configuración de su navegador para rechazar cookies).
        <br><br>
        <b>¿Que es una cookie?</b>
        <br><br>
        Una "Cookie" es un pequeño archivo de texto que un sitio web almacena en el navegador del usuario. Las cookies
        facilitan el uso y la navegación por una página web y son esenciales para el funcionamiento de Internet,
        aportando innumerables ventajas en la prestación de servicios interactivos.
        <br><br>
        Las cookies se utilizan por ejemplo para gestionar la sesión del usuario (reduciendo el número de veces que
        tiene que incluir su contraseña) o para adecuar los contenidos de una página web a sus preferencias. Las cookies
        pueden ser de "sesión", por lo que se borrarán una vez el usuario abandone la página web que las generó o
        "persistentes", que permanecen en su ordenador hasta una fecha determinada.
        <br><br>
        Este documento de "Uso de Cookies" ha sido elaborado a partir de un auditado técnico externo estando, por tanto,
        sujeto a actualizaciones periódicas. Su propósito es ayudarle a comprender el uso que la presente página web
        hace de las cookies, la finalidad de las cookies utilizadas, así como de las opciones que el usuario tiene a su
        disposición para gestionarlas.
        <br><br>
        El uso de esta web con la funcionalidad del navegador habilitada para aceptar cookies, implica la aceptación por
        parte del usuario de la tecnología cookie utilizada por dicha web.
    </p>
    <br>
    <hr class="dashed">
    <br>
    <h2 style="font-size: 20px; font-family: Arial; margin: 0px;">Tipos de cookies</h2>
    <br>
    <p style="margin:  0px;font-size: 13px;line-height: 20px;" class="text-justify">
        <b>Cookies de uso interno.</b>
        <br><br>
        Esta web utiliza cookies de uso interno imprescindibles para el funcionamiento de la web, como por ejemplo
        aquellas que permiten la autenticación o el mantenimiento de la sesión del usuario registrado cuando navega por
        la página. La desactivación de estas cookies impide el funcionamiento correcto de algunas de las funcionalidades
        de la web.
        <br><br>
        <b>Cookies Analíticas.</b>
        <br><br>
        Esta web utiliza cookies analíticas para recabar estadísticas sobre la actividad del usuario en la web y la
        actividad general de la misma. La información recopilada es anónima y permite optimizar la navegación por
        nuestra página web y garantizar el mejor servicio al usuario. El usuario puede excluir su actividad mediante los
        sistemas de exclusión facilitados por las herramientas analíticas.
        <br><br>
        <b>Cookies de terceros para la gestión de espacios publicitarios.</b>
        <br><br>
        Son cookies almacenadas por terceras partes que gestionan los espacios publicitarios que los usuarios visualizan
        al acceder a esta web. Estas cookies permiten medir la efectividad de nuestras campañas online, proporcionar al
        usuario información de su interés y ofrecerle contenidos publicitarios de su preferencia. De conformidad con sus
        propias políticas, algunos gestores de publicidad pueden utilizar las cookies anónimas para mostrar anuncios de
        su interés cuando visite otras páginas web. No obstante los usuarios pueden gestionar la aceptación o no de
        dichas cookies mediante la configuración de su navegador.
        <br><br>
        <b>Garantías y opciones sobre las cookies.</b>
        <br><br>
        Durante la instalación o puesta al día del navegador, el usuario tiene la posibilidad de aceptar o rechazar la
        instalación de cookies, o bien rechazar la instalación de un determinado tipo de cookies, como las cookies de
        publicidad y de terceros. Además, después de cada sesión puede eliminar todas o algunas de las cookies
        almacenadas.
    </p>
    <br>
    <hr class="dashed">
    <br>
    <h2 style="font-size: 20px; font-family: Arial; margin: 0px;">Asimismo el usuario puede activar</h2>
    <br>
    <ul class="text-justify">
        <li>La navegación privada, mediante la cual su navegador deja de guardar el historial de navegación, contraseñas
            de sitios web, cookies y otra información de las páginas que visita.<br>
        </li>
        <li>La función de no rastrear, por la que el navegador pide a los sitios web que visita que no rastreen sus
            hábitos de navegación, para por ejemplo, servirle publicidad de su interés en los sitios que visita.</li>
    </ul>
    <br>
    <p style="margin:  0px;font-size: 13px;line-height: 20px;" class="text-justify">
        Le recomendamos que consulte la ayuda de su navegador para informarse de las diferentes opciones sobre cómo
        gestionar las cookies. Tenga en cuenta que el bloqueo de cookies puede afectar a todas o algunas de las
        funcionalidades de nuestra web.
        <br><br>
        Como explicamos en nuestra <b>Política de Cookie</b>, las cookies ayudan a obtener el máximo rendimiento en
        nuestro sitio web.
        <br><br>
        Si decide desactivar nuestras cookies, no podra acceder a nuestro sitio web, ya que sin las cookies no podemos
        mantener la sesión del usuario registrado cuando navega por la página.
    </p>
    <br>
    <hr class="dashed">
    <br>
    <h2 style="font-size: 20px; font-family: Arial; margin: 0px;">¿Cómo habilitar y deshabilitar las cookies del
        explorador?</h2>
    <br>
    <p style="margin:  0px;font-size: 13px;line-height: 20px;" class="text-justify">
        <b>Google Chrome</b>
        <br><br>
        Haga clic en el icono de llave inglesa en la barra del navegador y seleccione <b>Configuración</b>
        <br><br>
        Haga clic en "Mostrar opciones avanzadas", en la sección "Privacidad", haga clic en el botón "Configuración de
        contenido". Para habilitar las cookies en la sección "Cookies", elija "Permitir datos locales que se
        establezcan", lo que permitirá a las cookies, tanto de primera parte y de terceros. Para permitir recoger sólo
        las cookies de origen "Bloquear todas las cookies de terceros sin excepción" Para desactivar las cookies, en la
        sección "Cookies", es posible el "Bloquear sitios de fijar cualquier dato ' Tenga en cuenta que hay varios
        niveles de activación de cookies y discapacidad en Chrome. Para obtener más información sobre otras opciones de
        las cookies que se ofrecen en Chrome, consulte la siguiente página de Google: <a class="postlink"
            href="https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647" rel="nofollow"
            onclick="this.target='_blank';">http://support.google.com/chrome/bin/an ... swer=95647</a>
        <br><br>
        <b>Microsoft Internet Explorer 6.0, 7.0, 8.0</b>
        <br><br>
        Haga clic en "Herramientas" en la parte superior de la ventana del navegador y seleccione "Opciones de
        Internet". En la ventana de opciones vaya a la pestaña "Privacidad", para habilitar las cookies ajuste el
        control deslizante a "Media", o por debajo. Para desactivar las cookies mueva el control deslizante a la parte
        superior para bloquear todas las cookies. Tenga en cuenta que hay varios niveles de activación de cookies en el
        Explorador. Para obtener más información sobre otras opciones de las cookies que se ofrecen en Internet
        Explorer, consulte la siguiente página de Microsoft: <a class="postlink"
            href="http://windows.microsoft.com/en-GB/windows-vista/Block-or-allow-cookies" rel="nofollow"
            onclick="this.target='_blank';">http://windows.microsoft.com/en-GB/wind ... ow-cookies</a>
        <br><br>
        <b>Mozilla Firefox</b>
        <br><br>
        Haga clic en "Herramientas" en el menú de su navegador y seleccione "Opciones". Seleccione el panel Privacidad,
        para habilitar las cookies marque 'Aceptar cookies de sitios'. Para desactivar las cookies, desmarque 'Aceptar
        cookies de sitios'. Tenga en cuenta que hay varios niveles de activación de cookies en Firefox. Para obtener más
        información, consulte la siguiente página de Mozilla: <a class="postlink"
            href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" rel="nofollow"
            onclick="this.target='_blank';">http://support.mozilla.org/es/kb/habili ... -sitios-we</a>
        <br><br>
        <b>Opera</b>
        <br><br>
        Haga clic en "Configuración" en el menú de su navegador y seleccione "Configuración". Seleccione "Quick
        Preferences", para habilitar las cookies marque "Habilitar cookies". Para desactivar las cookies desmarque
        "Habilitar cookies". Tenga en cuenta que hay varios niveles de activación de cookies en Opera. Para obtener más
        información sobre otras opciones de las cookies que se ofrecen en Opera, consulte la siguiente página de Opera
        Software: <a class="postlink" href="https://www.opera.com/browser/tutorials/security/privacy/" rel="nofollow"
            onclick="this.target='_blank';">http://www.opera.com/browser/tutorials/ ... y/privacy/</a>
        <br><br>
        <b>Safari en OSX</b>
        <br><br>
        Haga clic en "Safari" en la barra de menú y seleccione la opción 'Preferencias'. Haga clic en "Seguridad", para
        habilitar las cookies, en la sección "Aceptar cookies", seleccione la sección "Sólo desde el sitio' Para
        desactivar las cookies, en la sección "Aceptar cookies" seleccionar "Nunca". Tenga en cuenta que hay varios
        niveles de activación de cookies en Safari. Para obtener más información sobre otras opciones de las cookies que
        se ofrecen en Safari, consulte la siguiente página de Apple: <a class="postlink"
            href="http://docs.info.apple.com/article.html?path=Safari/3.0/en/9277.html" rel="nofollow"
            onclick="this.target='_blank';">http://docs.info.apple.com/article.html ... /9277.html</a> El resto de los
        navegadores
        <br><br>
        Por favor, para más información busque la función de "Ayuda" de su navegador, o póngase en contacto con el
        proveedor de su navegador.
    </p>
</div>