<div style="width:auto;">
  <mat-card *ngIf="movie" style="margin:10px; background-color: #c5cae9">
    <mat-card-header>
      <button mat-mini-fab routerLink="/edit/{{movie.id}}" class="ml-auto" aria-label="icon-button edit"><mat-icon>edit</mat-icon></button>
      <mat-card-title>{{movie.title | uppercase}}</mat-card-title>
      <mat-card-subtitle>#{{movie.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-3 col-sm-6 mt-1">
          <img mat-card-image class="img-fluid rounded mx-auto" src="{{movie.image}}" alt="{{movie.title}}"/>
          <p-toggleButton onLabel="Vista" offLabel="Pendiente" onIcon="pi pi-eye" offIcon="pi pi-clock" [(ngModel)]="checked" class="btn btn-light btn-lg btn-block" style="color:#e91e63"></p-toggleButton>  
        </div>
        <div class="col-lg-9 col-sm-6 mt-4">
          <p class="text-justify"><strong>Genero:</strong> {{movie.genres}}</p>
          <p class="text-justify"><strong>Año:</strong> {{movie.year}}</p>
          <p><strong>Sinopsis</strong></p>
          <p class="text-justify">{{movie.synopsis}}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="mb-4"><button (click)="goBack()" target="_top" mat-raised-button color="primary" class="float-right mr-2">Volver</button></div>
</div>
