<h2 style="font-size: 20px; font-family: Arial; margin: 0px;">Política de Privacidad</h2>
<br>
<p style="margin:  0px;font-size: 13px;line-height: 20px;" class="text-justify">
    Esta política explica con detalle cómo <b>Tour of Movies</b> emplean cualquier información obtenida durante
    cualquier sesión de uso por usted.
    <br><br>
    Todo aquél que acceda a <b>Tour of Movies</b> sin tener la mayoría de edad deberá haber obtenido el permiso de sus
    padres, tutores o representantes legales, quienes serán los responsables de todos los actos realizados por los
    menores en <b>Tour of Movies</b>.
    <br><br>
    Su información es obtenida por dos vías. Primeramente, navegar por <b>Tour of Movies</b> hará crear un número de
    cookies, las cuales son un pequeño archivo de texto que se descargan en los archivos temporales del navegador de su
    PC. Las primeras dos cookies sólo contienen un identificador de usuario (de aquí en adelante "user-id") y un
    identificador de sesión anónima (de aquí en adelante "session-id"), automáticamente asignada a usted por el software
    de <b>Tour of Movies</b>. Otras cookies serán creadas una vez que haya navegado por las distintas partes de <b>Tour
        of Movies</b>, con objeto de optimizar su experiencia de usuario.
    <br><br>
    Además sofware de terceros pueden crear cookies externas mientras navega por <b>Tour of Movies</b>, las cuales
    exceden el alcance de este documento que solamente se refiere a las cookies creadas por <b>Tour of Movies</b>, puede
    obtener más información sobre las cookies en nuestra <a href="/cookies">Política de Cookies</a>. La segunda vía
    mediante la que obtenemos su información es mediante lo que usted envía. Esto puede ser, y no limitado a: su
    registro en <b>Tour of Movies</b> o acciones realizadas por usted (Comentarios, mensajes privados, preferencias,
    etc). Puede obtener más información sobre los datos que recoge <b>Tour of Movies</b>.
</p>