<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description" content="Descubre las peliculas mas vistas." />
    <link rel="shortcut icon" type="image/png"
        href="https://www.brandcrowd.com/gallery/brands/pictures/picture14873725471122.png" sizes="64x64">
    
    <style>
        .footer {
            color: white;
            margin-bottom: 0;
            padding: 3%
        }
    </style>
</head>

<body>
    <mat-toolbar color="primary" role="header">
        <span class="fill-remaining-space">{{title}}</span>
        <button mat-button routerLink="/" class="ml-auto">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Home icon">home</mat-icon>
        </button>
        <button mat-button routerLink="/movies">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Movie icon">movie_filter</mat-icon>
        </button>        
    </mat-toolbar>

    <main role="main">
        <router-outlet></router-outlet>
    </main>

    <footer role="footer" class="text-center">
        <div class="py-12">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <!-- Heading -->
                        <a class="text-light" routerLink="/home"><img
                                src="https://cdn141.picsart.com/278650953016211.png?type=webp&to=min&r=1024"
                                alt="logo" style="width: 35px; margin-bottom:5%"></a>
                        <!-- Copyright -->
                        <p class="mb-5 mb-md-0 font-size-xxs text-white">© 2020 {{title}}<br>Angular 9.0.1</p>
                    </div>
                    <div class="col-6 col-sm">
                        <!-- Heading -->
                        <h2 class="mb-2 text-white">Información</h2>
                        <!-- Links -->
                        <ul class="list-unstyled mb-7 mb-sm-0">
                            <li>
                                <a href="https://github.com/Soniatt93/tour-of-movies" target="_blank" class="text-light" style="text-decoration: none;">Github</a>
                            </li>
                            <li>
                                <a href="https://sonia-angular-movies.firebaseapp.com/home" target="_blank" class="text-light" style="text-decoration: none;">Firebase</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm">
                        <!-- Heading -->
                        <h2 class="mb-2 text-white">Condiciones de uso</h2>
                        <!-- Links -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-white" routerLink="/proteccion-datos" style="text-decoration: none;">Proteccion de datos</a>
                            </li>
                            <li>
                                <a class="text-white" routerLink="/cookies" style="text-decoration: none;">Politica de cookies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>