<div style="width:auto;" class="row">
    <mat-card *ngFor="let movie of movies" class="col-sm-12 m-2 mx-auto" style="max-width:20rem; background-color:#e8eaf6">
      <a mat-flat-button (click)="delete(movie)" style="margin-left:5px" aria-label="icon-button delete" color="primary" class="float-right"><mat-icon>delete</mat-icon></a>
      <a mat-flat-button routerLink="/detail/{{movie.id}}" target="_top" aria-label="icon-button delete" color="primary" class="float-right"><mat-icon>remove_red_eye</mat-icon></a>
      <img mat-card-image class="img-fluid rounded mx-auto mt-2"  src="{{movie.image}}" alt="{{movie.title}}" style="height:400px"/>
      <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p class="text-justify">{{movie.genres}}</p>
          <p class="text-justify">{{movie.year}}</p>
      </mat-card-content>
    </mat-card>
    <a mat-fab routerLink="/add" target="_top" class="flotante ml-auto m-4" aria-label="icon-button add"><mat-icon>add</mat-icon></a>
</div>