<div style="width:auto;">
  <mat-card *ngIf="movie" style="margin:10px;">
    <mat-card-header>
    <button mat-mini-fab (click)="save()" class="ml-auto" aria-label="icon-button save"><mat-icon>save</mat-icon></button>
      <mat-card-title>{{movie.title | uppercase}}</mat-card-title>
      <mat-card-subtitle>#{{movie.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-3 col-sm-6 mt-1">
          <img mat-card-image class="img-fluid rounded mx-auto" src="{{movie.image}}" alt="{{movie.title}}"/>
        </div>
        <div class="col-lg-9 col-sm-6">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Titulo</mat-label>
            <input matInput [(ngModel)]="movie.title" placeholder="title"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>URL Portada</mat-label>
            <input matInput [(ngModel)]="movie.image" placeholder="URL image"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Genero</mat-label>
            <input matInput [(ngModel)]="movie.genres" placeholder="genres"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Año</mat-label>
            <input matInput [(ngModel)]="movie.year" placeholder="year"/>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Sinopsis</mat-label>
            <textarea matInput [(ngModel)]="movie.synopsis" placeholder="synopsis" rows="10"></textarea>
          </mat-form-field>  
        </div>
      </div>
    </mat-card-content>
  </mat-card> 
  <div class="mb-4"><button (click)="goBack()" target="_top" mat-button color="accent" class="float-right mr-2">Cancelar</button></div>
</div>
